.contact-container {
	background-color: inherit;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 700;

	iframe {
		border-radius: 10px;
	}

	ul {
		list-style-type: none;

		li {
			.svg-inline--fa {
				width: 1.5em;
				height: 1.5em;
			}

			span {
				margin-left: 1em;
			}

			.address-container {
				margin-left: 1em;
				display: inline-grid;
			}
		}
	}
}
